[x] Use of templates
[x] Use of a database
[x] Use of express plugin libraries
[x] User registration and session
[x] -cookies and session
[x] -hashing of passwords
[x] -JSON Web Token
[x] Error handling
[] User Role Guards
Full CRUD(application specific)
-catalog - read
-details - read
-create
-edit
-delete

